<%- include('partials/head') %>
<%- include('partials/header') %>
<main>

<aside>
  <!-- chat screen left -->
  <div>
    <h1>JeffreyChat</h1>
    <button>+</button>
  </div>
  <form> <!-- Form to search for chats -->
    <input type="text" autocomplete="off" />
    <button>Search</button>
  </form>
  <span></span>
  <ul></ul>
</aside>
<section class="active-chat"> <!-- active-chat -->
  <!-- chat window -->
  <header>
    <img src="" alt="">
    <h3>Chat with <span></span></h3>
    <div class="online-status"></div>
  </header>
  <ul></ul>
  <form> <!-- form to send message -->
    <input type="text" autocomplete="off" />
    <button>Send</button>
  </form>
</section>
<!-- info about chat -->
<section class="extra-info"> <!-- extra-info -->
  <button>x</button> <!-- close button for extra info -->
  <header>
    <h3></h3> <!-- Naam chat / gebruiker -->
    <img src="" alt="profielfoto">
  </header>
  <div>
    <h4>About chat</h4>
    <p></p> <!-- about chat -->
  </div>
  <div>
    <h4>Chat members</h4>
    <ul></ul>
  </div>
</section>

</main>
<%- include('partials/footer') %>