<%- include('partials/head') %>
<%- include('partials/header') %>
<main>
<section class="intro">
  <dialog id="usernameDialog">
    <form id="usernameForm">
        <p>
            <label>Wat is jouw naam?
                <input type="text" id="usernameInput" required>
            </label>
        </p>
        <button type="submit">OK</button>
    </form>
</dialog>
</section>
<aside class="">
  <div>
  <!-- chat screen left -->
  <div>
    <h1>Party Chat</h1>
    <form> <!-- Form to search for chats -->
      <input type="text" autocomplete="on" placeholder="zoeken..."/>
      <button>Search</button>
    </form>
  </div>
  <div>
    <h2>Actieve chats</h2>
    <button class="newChat"><img src="assets/newMessage.svg" alt=""></button> <!-- Maak een nieuwe room -->
    <ul></ul>
  </div>
  
  </div>
  <div class="card">
    <h2 class="yourName">Anoniem</h2>
    <button>Log out</button>
  </div>
</aside>
<section class="active-chat"> <!-- active-chat -->
  <!-- chat window -->
  <header>
    <button class="close-chat"><</button> <!-- close button for chat -->
    <div>
      <img src="" alt="">
      <h2></h2>
      <div class="online-status"></div>
    </div>
  </header>
  <ul></ul>
  <form> <!-- form to send message -->
    <input type="text" pattern="" title="Eerste letter mag geen spatie zijn" required>
    <button>Send</button>
  </form>
</section>
<!-- info about chat -->
<section class="extra-info"> <!-- extra-info -->
  <button>x</button> <!-- close button for extra info -->
  <header>
    <h3></h3> <!-- Naam chat / gebruiker -->
    <img src="" alt="profielfoto">
  </header>
  <div>
    <h4>About chat</h4>
    <p></p> <!-- about chat -->
  </div>
  <div>
    <h4>Chat members</h4>
    <ul></ul>
  </div>
</section>

</main>
<%- include('partials/footer') %>