:root {
    --radient-color: #d0d3e2;
    --bg-color-white: #F5F5F5;
    --primary-darker: #008080;
    --accent: #1E90FF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: system-ui;
    transition: .5s;
}

body>header {
    display: none;
}

main {
    display: flex;
    overflow: hidden;
    max-height: 100dvh;
    height: 100dvh;
}

aside {
    flex: 0 1 20em;
    max-width: 25em;
    background: #fff;
    padding: 1em 0 1em 1em;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: space-between;
}

section {
    /* background: var(--bg-color-white); */
    background: #edf0f5;
    position: relative;
}

section.active-chat {
    flex: 1 1 50em;
}

section.extra-info {
    flex: 1 1 15em;
    border-radius: .5em;
    display: flex;
    flex-direction: column;
    padding: 1em;
    gap: 1em;
    border: .2em solid var(--primary-darker);
    display: none;
}

section.active-chat {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    margin: 1em;
    border-radius: 1em;
}

section.active-chat form {
    background: white;
    backdrop-filter: blur(1px);
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    position: relative;
    width: 95%;
    margin: 1em;
    align-self: center;
    border-radius: .5em;
    overflow: hidden;
    box-shadow: 0 0 0.5em #9fa2af4d;
}

section.active-chat form input,
section.active-chat form button {
    min-height: 4.5em;
    border: none;
    background: unset;
}

section.active-chat form input {
    /* flex: 1 1 23em; */
    padding: 1em;
    width: 100%;
    align-self: center;
}

section.active-chat form button {
    background: var(--primary-darker);
    color: #fff;
    font-size: .9em;
    align-self: center;
    width: 6em;
}

section.active-chat header {
    min-height: 4em;
    display: flex;
    align-items: center;
    gap: 1em;
    padding: 0 0 0 1em;
    z-index: 1;
    background: #edf0f5;
    box-shadow: 0px -3px 5px black;
}

section.active-chat ul {
    height: 45em;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    width: calc(100% + 20px);
}

main::before,
main::after {
    content: '';
    position: fixed;
    height: 20em;
    width: 20em;
    border-radius: 25em;
    z-index: -1;
    filter: opacity(0.5) contrast(.5);
    display: none;
}

main::before {
    top: -5em;
    left: -5em;
    background: var(--accent);
}

main::after {
    bottom: -5em;
    right: -5em;
    background: var(--primary-darker);
}

body {
    overflow: hidden;
}

section.active-chat ul li {
    /* filter: hue-rotate(45deg) grayscale(.8); */
    background: white;
    padding: 1em;
    width: fit-content;
    width: -moz-fit-content;
    margin: 1em;
    border-radius: 0.5em;
    color: #fff;
    max-width: -webkit-fill-available;
    word-wrap: break-word;
    color: black;
    box-shadow: 1px 1px 0px 1px #d0d3e2;
}

h1 {
    color: var(--primary-darker);
}

aside div {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

aside form {
    display: flex;
    width: 100%;
}

aside form button {
    position: absolute;
    left: -999999em;
}

aside form input {
    width: 100%;
    border: unset;
    background: var(--bg-color-white);
    height: 4.5em;
    color: white;
    border-radius: .2em;
    padding: 1em;
}

section.extra-info button:first-of-type {
    position: absolute;
    right: 1em;
    top: 1em;
    background: var(--primary-darker);
    color: white;
    width: 2.5em;
    aspect-ratio: 1/1;
    border-radius: 5em;
    font-weight: 900;
}

button {
    border: none;
    background: unset;
    cursor: pointer;
}

aside div button {
    aspect-ratio: 1/1;
    width: 2.5em;
    max-height: 2.5em;
    border-radius: 5em;
    font-weight: 900;
    color: var(--primary-darker);
}

button:hover {
    transform: scale(1.05);
}

section.active-chat header img {
    width: 2.5em;
    aspect-ratio: 1/1;
    border-radius: 25em;
    overflow: hidden;
    border: 1px solid var(--primary-darker);
    display: none;
}

section.extra-info header img {
    aspect-ratio: 1/1;
    border-radius: .2em;
}

section.extra-info header {
    display: flex;
    flex-direction: column;
}

/* scrollbar */

*::-webkit-scrollbar {
    width: 16px;
}

*::-webkit-scrollbar-track {
    background: #f5f5f5;
}

*::-webkit-scrollbar-thumb {
    background-color: #008080;
    border-radius: 0px;
    border: 4px solid #f5f5f5;
}

aside span {
    background: rgb(0 0 0 / .1);
    height: 1px;
}

aside ul li {
    background: var(--bg-color-white);
    padding: 1.5em 1em;
    border-radius: .2em;
    color: rgb(255 255 255 / .85);
    cursor: pointer;
    transition: .5s;
    color: black;
    text-transform: unset;
}

p::first-letter {
    text-transform: capitalize;
}

aside ul {
    display: flex;
    flex-direction: column;
    gap: .5em;
    overflow-y: scroll;
    /* Scrollbar fallback */
    overflow-y: overlay;
    border-radius: .5em;
    overflow-x: hidden;
    height: 100%;
    /* max-height: 86%; */
    padding: 0 0 7em 0;
    flex-basis: 100%;
}

section.active-chat ul li.eigen-bericht {
    align-self: end;
    background: #d0d3e2;
    filter: unset;
    position: relative;
    box-shadow: -1px 1px 0px 1px #9fa2b0;
}

address.user {
    position: relative;
    top: -.75em;
}

li.eigen-bericht address.user {
    display: none;
}

.card {
    background: #f5f5f5;
    padding: 1em;
    border-radius: .5em;
    align-items: center;
    justify-content: space-between;
    height: 10%;
    min-height: 4em;
    flex-wrap: nowrap;
}

h1,
h2 {
    color: #525e5d;
    filter: brightness(0.5);
}

form:has(input:focus-visible) {
    /* border: .1em solid #00805570; */
    transition: .1s;
}

:focus-visible {
    outline: none;
}

input[type="text"] {
    color: black;
}

aside ul::-webkit-scrollbar-thumb {
    border: 4px solid #fff;
}

aside ul::-webkit-scrollbar-track {
    background: #fff;
}

header>div {
    display: flex;
    align-items: center;
    gap: .5em;
}

section.active-chat header button {
    font-size: 1.5em;
    font-family: monospace;
    color: #092a2a;
    font-weight: 700;
    text-transform: uppercase;
    display: none;
    padding: 1em;
    transform: scale(1.4);
}

li.active {
    background: #e0f2f1;
    font-weight: 700;
    color: #2ca28a;
    order: -1;
}

section.active-chat header {
    box-shadow: unset;
    margin: 1em 0;
}

aside>h2:last-of-type {
    font-size: 1.2em;
}

section.active-chat header {
    background: white;
    margin: 1em;
    border-radius: .5em;
}

@media (max-width:800px) {
    .hide {
        display: none;
    }

    main {
        overflow: hidden;
        background: #edf0f5;
    }

    aside {
        flex: 1 1 20em;
        display: none;
    }

    main:has(section.hide) aside {
        display: none;
    }

    button:hover {
        transform: unset;
    }

    section.active-chat {
        margin: unset;
        border-radius: 0;
    }

    section.active-chat header button {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    section.hide {
        display: none;
    }

    body main aside.show {
        display: flex;
        padding: 0;
        margin: 1em;
    }

    body:has(section.hide) main aside {
        max-width: unset;
        background: unset;
    }

    aside div:first-of-type div:first-of-type {
        flex-direction: column;
        padding: 1em;
        background: #fff;
        gap: 1em;
        border-radius: .5em;
    }

    aside div div:last-of-type {
        padding: 1em;
        background: #fff;
        max-height: 56vh;
        border-radius: .5em;
    }

    aside ul li {
        background: var(--bg-color-white);
    }

    .card {
        background: #fff;
    }

    section.active-chat header {
        padding: 0;
        overflow: hidden;
    }

    aside ul {
        padding: 0 0 3em 0;
    }

    aside div:first-of-type div:first-of-type {
        height: 9em;
    }

    section.active-chat form input,
    section.active-chat form button {
        height: 6em;
    }
}

aside div div {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1em;
    height: 85%;
}

aside>div>* {
    width: 100%;
}

h2.yourName {
    width: auto;
    max-width: 60%;
    overflow: hidden;
    font-size: 1.2em;
}

.card button {
    width: 30%;
    font-weight: 500;
    color: red;
    text-align: right;
}

aside>div:first-of-type {
    /* height: 90%; */
    gap: 1em;
    overflow: hidden;
}

main:has(section dialog#usernameDialog[open]) section:nth-of-type(2n),
main:has(section dialog#usernameDialog[open]) aside {
    display: none;
}

/* Dialog */
::backdrop {
    background: unset;
}

dialog#usernameDialog {
    padding: 1em;
    border: none;
    border-radius: .5em;
    left: auto;
    right: 1em;
    top: 1em;
    min-height: 50%;
    height: 50%;
    margin: auto;
}

input#usernameInput {
    width: 100%;
    padding: 1em;
    border: .1em solid rgb(0 0 0 /.2);
}

form#usernameForm p label {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    text-transform: initial;
}

form#usernameForm {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}

form#usernameForm button {
    background: var(--primary-darker);
    padding: 1em;
    color: white;
    font-weight: bold;
    border-radius: .5em;
}

form#usernameForm button:hover {
    transform: scale(1.05);
}

main:has(section dialog#usernameDialog[open]) {
    background: #9ec6cf;
}

aside div div:first-of-type {
    flex-direction: column;
    justify-content: flex-start;
    gap: 1em;
    height: 7.5em;
}

h1::first-letter,
h2::first-letter {
    text-transform: capitalize;
}

dialog#roomDialog {
    padding: 1em;
    border: none;
    border-radius: .5em;
    margin: auto;
}

form#roomForm button {
    background: var(--primary-darker);
    padding: 1em;
    margin: 1em 0;
    width: 100%;
    border-radius: .5em;
    color: white;
    font-weight: 700;
    flex: 0 0 50%;
}

#roomForm p label {
    display: flex;
    flex-direction: column;
    gap: .5em;
    font-weight: 500;
}

input#roomInput {
    height: 4em;
    border: none;
    background: var(--bg-color-white);
    border-radius: .5em;
    padding: 1em;
}

dialog#roomDialog::backdrop {
    background: rgb(0 0 0 /.5);
    position: absolute;
}

form#roomForm button:first-of-type {
    background: unset;
    color: red;
    font-weight: unset;
    margin: unset;
}

dialog#roomDialog form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

dialog#roomDialog form p {
    flex: 1 1 100%;
}